:host {
  --brand-1: oklch(0.5512 0.278 293.98);
  --brand-2: oklch(0.5096 0.2932 287.35);
  --success-green: oklch(0.3412 0.211 149.22);

  --radius: 0.625rem;

  --background: oklch(0.1615 0.0151 253.14);
  --foreground: oklch(0.9842 0.0034 247.86);

  --card: oklch(0.2154 0.0141 253.13);
  --card-foreground: oklch(0.9842 0.0034 247.86);
  
  --popover: oklch(0.2154 0.0141 253.13);
  --popover-foreground: oklch(0.9842 0.0034 247.86);

  --primary: oklch(0.9842 0.0034 247.86);
  --primary-foreground: oklch(0.207 0.038 265.07);

  --secondary: oklch(0.2749 0.0353 258.91);
  --secondary-foreground: oklch(0.9842 0.0034 247.86);

  --muted: oklch(0.2749 0.0353 258.91);
  --muted-foreground: oklch(0.7107 0.0351 256.79);

  --accent: oklch(0.3385 0.0503 252.55);
  --accent-foreground: oklch(0.9842 0.0034 247.86);
  
  --destructive: oklch(0.5878 0.1848 28.98);
  --destructive-foreground: oklch(0.985 0 0);
  
  --border: oklch(0.312 0.0211 258.37);
  --input: oklch(0.28 0.0369 259.97);
  --ring: oklch(0.312 0.0211 258.37);
}


