.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.availableText {
  font-size: 0.75rem;
  color: var(--muted-foreground);
}

.grid {
  display: grid;
  gap: 0.5rem;
}

.gridNarrow {
  grid-template-columns: 1fr;
}

.gridWide {
  grid-template-columns: 1fr 1fr;
}

.inputContainer {
  display: flex;
  align-items: center;
}

.formControl {
  margin-right: -2rem;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.button {
  flex-grow: 1;
}

.buttonActive {
  background-color: var(--primary-foreground);
  color: var(--primary);
}
