.container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.75rem;
  color: var(--muted-foreground);
  gap-inline: 1rem;
}

@media (min-width: 768px) {
  .header {
    flex-direction: row;
  }
}

.maxButton {
  text-decoration: underline;
  cursor: pointer;
}

.progress {
  height: 0.5rem;
}

.footer {
  font-size: 0.75rem;
  color: var(--muted-foreground);
}

.remainingAmount {
  font-weight: bold;
  font-size: 0.875rem;
  color: var(--primary);
}
