.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-inline: -2rem;
}

.approvalStepsContainer {
  width: 50%;
  margin-inline: auto;
}

.buttonsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap-inline: 1rem;
  margin-inline: 2rem;
  align-items: center;
  gap: 1rem;
}

.walletConnectedContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.5rem;
}

.walletConnectedText {
  color: white;
  font-weight: 500;
  font-size: 1.125rem;
}

.chainText {
  color: rgb(255 255 255 / 0.5);
  font-size: 0.75rem;
}

.submitButton {
  grid-column-start: 2;
}

.submitButtonLoading {
  display: flex;
  gap: 0.5rem;
}

.loaderIcon {
  width: 1.5rem;
  height: 1.5rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
