.root {
  border-radius: 0.5rem;
  padding: 1rem;
}

.variantDefault {
  background-color: var(--card);
  color: var(--card-foreground);
  border: 1px solid var(--border);
}

.variantDestructive {
  color: var(--destructive);
  background-color: var(--card);
  border: 1px solid var(--destructive);
}

.title {
  font-weight: 500;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: space-between;
}

.description {
  color: var(--muted-foreground);
}
